:root {
  --color-primary: #363636;
  --color-secondary: #666666;
  --color-foreground: #efefef;
  --color-border: #e0e0e0;
  --color-error: var(--color-red);
  --color-red: #ff5656;
  --color-orange: #ffae42;
  --color-yellow: #ffdd57;
  --color-green: #57cc57;

  --background-base: #ffffff;
  --background-body: #faf9fb;
  --background-surface: #f3f2f4;
  --background-hover: #d7d7d7;
  --background-error: #ffecec;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 36px;
  --font-size-5xl: 48px;

  --space-0: 4px;
  --space-1: 6px;
  --space-2: 8px;
  --space-3: 10px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 20px;
  --space-7: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;

  --outline-thin: 1px solid var(--color-border);
  --outline-normal: 2px solid var(--color-border);
  --outline-thick: 4px solid var(--color-border);
  --radius: 8px;
  --sub-radius: 4px;
  --full-radius: 100%;
  --shadow: 0 1px 5px;

  --transition-normal: 0.2s cubic-bezier(0.25, 0.01, 1, 0.78);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    color-scheme: dark;
  }
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  color: var(--color-primary);
  background: var(--background-body);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input,
textarea,
select {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  display: block;
  color: var(--color-primary);
}
